@use "_mixins" as mx;
#other-works {
    position: relative;
    // min-height: 100vh;
}
.other-works-cards {
    position: relative;
    top: 2rem;
    width: 100%;
    overflow: scroll;
    height: 45rem;
    @include mx.respond(tablg-laptop) {
        // top: 5rem;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    &-indiv {
        left: 0;

        position: sticky;
        //new card ? adjust

        box-shadow: 0px 6px 15px 10px var(--base-transp);

        z-index: 100;
        padding: 2rem 1rem;
        overflow-y: hidden;

        height: 95%;
        @include mx.respond(tablg-laptop) {
            border-radius: var(--rounded-lg);
            padding: 2rem 3rem;
        }

        &-certification {
            top: 1rem;

            background: var(--secondary);
            @include mx.respond(tablg-laptop) {
                // top: 1rem;
                // margin-top: 6rem;
            }
        }
        &-games {
            background: var(--base2);
            // margin-top: 4rem;
            @include mx.respond(tablg-laptop) {
                // margin-top: 20rem;
            }
        }
        &-scrapping {
            // margin-top: 4rem;
            background: var(--tertiary);
            //new card ? adjust
        }
    }
}
