@use "_mixins" as mx;

.ham-container {
  position: relative;
  width: 1920px;

  @include mx.responsive-max-width;
  height: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include mx.respond(phone) {
    height: 3rem;
    margin-top: 0.55rem;
    margin-bottom: 0.55rem;
  }
  @include mx.respond(phone-tab, false) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3.5rem;
  }
  @include mx.respond(tab-tablg, false) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 4rem;
  }
  @include mx.respond(tablg-laptop, false) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 5rem;
  }
  @include mx.respond(laptop-laptopmd) {
    height: 6rem;
  }
  @include mx.respond(desktop-desktoplg) {
    height: 7rem;
  }
}
.ham {
  position: fixed;
  // height: 100vh;
  //
  // height: 100vh;
  width: 1920px;

  @include mx.responsive-max-width;
  // min-height: 100px;

  display: flex;
  justify-content: flex-end;

  & &-button {
    position: sticky;

    top: 0rem;

    width: 9rem;
    height: 7rem;
    z-index: 1000;

    cursor: pointer;
    border-radius: var(--rounded-xs);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    &-wrapper {
      width: 70%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include mx.respond(phone) {
      width: 3rem;
      height: 3rem;

      right: 10px;
    }
    @include mx.respond(phone-tab, false) {
      width: 3.5rem;
      height: 3.5rem;
    }
    @include mx.respond(tab-tablg, false) {
      width: 4.5rem;
      height: 4rem;
    }
    @include mx.respond(tablg-laptop, false) {
      width: 6rem;
      height: 5rem;
    }
    @include mx.respond(laptop-laptopmd) {
      width: 7rem;
      height: 6rem;
    }
    @include mx.respond(desktop-desktoplg) {
      width: 9rem;
      height: 7rem;
    }

    & .line {
      background: var(--text2);
      transition: all 0.5s;
      height: 3px;
      position: absolute;

      border-radius: var(--rounded-xs);

      &-1,
      &-3 {
        width: 100%;

        transform-origin: 50% 50%;
        left: 0;

        // @include mx.respond(phone) {
        //   width: 2rem;
        // }
        // @include mx.respond(phone-tab) {
        //   width: 1.5rem;
        // }

        // transition-delay: 0.5s;
      }
      &-1 {
        top: 28%;
        @include mx.respond(phone) {
          top: 31%;
        }
        @include mx.respond(phone-tab, $atw: false) {
          top: 30%;
        }
        @include mx.respond(tab-tablg, false) {
          top: 29%;
        }
        @include mx.respond(tablg-laptop, false) {
          top: 27.5%;
        }
      }

      &-2 {
        width: 65%;
        margin-left: auto;
        top: 50%;
        right: 0;
        opacity: 1;
        // transform: translateY(-50%);

        // @include mx.respond(phone) {
        //   width: 1rem;
        // }
        // @include mx.respond(phone-tab) {
        //   width: 0.75rem;
        // }
      }
      &-3 {
        top: 71.5%;
        @include mx.respond(phone) {
          top: 71%;
        }
        @include mx.respond(phone-tab, false) {
          top: 70%;
        }
        @include mx.respond(tab-tablg, false) {
          top: 72%;
        }
        @include mx.respond(tablg-laptop, false) {
          top: 73%;
        }
      }
    }
    &:hover {
      background: var(--secondary);
    }
    &-clicked {
      & .line {
        &-2 {
          opacity: 0;
          visibility: hidden;
        }

        &-1-clicked {
          top: 50%;
          transform: rotate(135deg);
        }
        &-3-clicked {
          top: 50%;
          transform: rotate(-135deg);
        }
      }
    }
  }

  & &-body {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 7rem;
    height: 6rem;
    border-radius: 100%;
    background: var(--secondary);
    max-height: 100vh;

    transition: all 0.5s;

    &-opened {
    }
  }
  & &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 100vw;
    // height: 100vh;
    // z-index: 500;
    display: flex;
    flex-direction: column;
  }
}

.transition-slow {
  transition: z-index 0.75s step-start, opacity 0.75s linear,
    visibility 0.75s linear;
}
