//dark theme
$colors-dark: (
  text: #eeeeee,
  text2: #ffe270,

  base: #000000,
  secondary: #222222,
  tertiary: #4e4e4e,
  quaternary: #999999,
  quinary: #d8d8d8,
  focus: #7bf1c8,
);

//light-theme
$colors: (
  text: #111111,
  text2: #034748,
  base: #ffffff,
  secondary: #bbbbbb,
  tertiary: #727474,
  quaternary: #383838,
  quinary: #121212,
  focus: #23231a,
);

//BREAKPOINTS
$phone: 576px;
$tablet: 768px;
$tablet-lg: 992px;
$laptop: 1200px;
$laptop-md: 1400px;
$laptop-lg: 1600px;
$desktop: 1800px;
$desktop-lg: 2000px;
